.log-container {
  width: 100%;
  height: 56rem;
  overflow-y: scroll;
  background-color: black;
  border: 1px solid black;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #00ff00;
  scrollbar-width: thin;
  scrollbar-color: #00ff00 black;
  border-radius: 8px;
  border: 4px solid #118d11;
}

.log-container::-webkit-scrollbar {
  width: 12px;
}

.log-container::-webkit-scrollbar-thumb {
  background-color: #4a534a;
  border-radius: 6px;
}

.log-entry {
  margin-bottom: 5px;
  margin-left: 5px;
  white-space: pre-line;

  .log-entry-text {
    margin: 0;
    font-size: 20px;
  }
}

.cursor {
  animation: cursorBlink 1s infinite;
  border-left: 2px solid #00ff00;  /* Adjust color to match your text color */
  height: 1em;
  margin-left: 2px;
}

@keyframes cursorBlink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
