.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 0;
    margin-top: 5rem;
  }
  
  .cell {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cell.selected {
    border: 2px solid blue;  /* or any other styling you prefer */
  }